// COLORS
$color-purple: #b98fe6;
$color-mint: #85e6c5;
$color-white: #fff8ef;
$color-black: #221e1b;

// FONTS
$font-common: 'JetBrains Mono', monospace;
$font-title: 'Plantasia Calacarn', sans-serif;

// MARGES
$marge: clamp(5px, calc(1vw + 0.35rem), 35px);
