@import '../../sass/variables';

header {
  width: 90vw;
  height: 75px;
  margin-top: calc($marge * 2) !important;
  border-bottom: 1px solid $color-purple !important;
  nav {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-inline: $marge;
    overflow-y: hidden;
    a {
      text-transform: uppercase;
      font-weight: 400;
      transform: translateY(50%);
      transition: all 0.3s ease;
      &:hover {
        color: $color-mint;
        font-weight: 900;
      }
    }
    ul {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.25vw;
      li {
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: clamp(0.75rem, 1vw, 1.25rem);
          width: calc($marge * 8);
          height: calc($marge * 2);
          border: 1px solid $color-purple;
          border-bottom: none;
          border-radius: 15px 15px 0 0;
          color: $color-purple;
          box-sizing: content-box;
          padding-bottom: calc($marge * 2);
          transform: translateY(35%);
          letter-spacing: 2.5px;
          &:hover {
            border: 1px solid $color-mint;
            border-bottom: none;
            color: $color-mint;
            transform: translateY(25%);
            width: calc($marge * 9);
          }
        }
      }
    }
    h1 {
      position: absolute;
    }
  }
}
