@import '../../sass/variables';
header {
  width: $width;
  height: $height-header-footer;
  border-bottom: 1px solid $color-purple !important;
  nav {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    padding-inline: $marge;
    a,
    button {
      background-color: transparent;
      font-family: $font-common;
      cursor: pointer;
      border: none;
      outline: none;
      text-transform: uppercase;
      font-weight: 400;
      transform: translateY(50%);
      transition: all 0.3s ease;
      padding-bottom: 1.75vw;
      &:hover {
        color: $color-mint;
        font-weight: 900;
      }
    }
    ul {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.25vw;
      position: absolute;
      overflow-y: hidden;
      li {
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: clamp(0.75rem, 1vw, 1.25rem);
          width: calc($marge * 8);
          height: 40px;
          border: 1px solid $color-purple;
          border-bottom: none;
          border-radius: $marge $marge 0 0;
          color: $color-purple;
          box-sizing: content-box;
          padding-bottom: 20px;
          transform: translateY(20px);
          letter-spacing: 2.5px;
          &:hover {
            border: 1px solid $color-mint;
            border-bottom: none;
            color: $color-mint;
            transform: translateY(15px);
            width: calc($marge * 9);
          }
        }
      }
    }
    h1 {
      padding-bottom: 0.1vw;
    }
  }
}
