@import '../../../sass/variables';

form {
  display: flex;
  flex-direction: column;
  width: 100%;

  div {
    width: 100%;
    display: flex;
    flex-direction: column;
    &.button_form_switch {
      flex-direction: row;
    }
    span {
      padding-block: calc($marge / 2);
      color: red;
      text-transform: uppercase;
    }
    button,
    input[type='submit'] {
      border-radius: none;
      border: none;
      font-family: $font-common;
      padding-block: calc($marge / 1);
      font-size: 1.5rem;
      cursor: pointer;
      transition: all ease 0.3s;
      &:nth-child(1) {
        width: 60%;
        background-color: $color-mint;
        color: $color-black;
        &:hover {
          color: $color-white;
        }
      }
      &:nth-child(2) {
        width: 40%;
        color: $color-black;
        &:hover {
          color: $color-purple;
        }
      }
    }
    label {
      text-transform: uppercase;
      color: $color-black;
      font-size: 1.5rem;
    }
    input {
      font-size: 1rem;
      font-family: $font-common;
      padding: $marge;
      width: 100%;
      outline: 1px solid $color-purple;

      border: none;
      background-color: $color-white;
      color: $color-purple;
      &:active,
      &:focus {
        outline: none;
        outline: 2px solid $color-mint;
        z-index: 2;
      }
      &::placeholder {
        text-transform: uppercase;
      }
      &::-moz-placeholder,
      &::-webkit-input-placeholder {
        text-transform: uppercase;
      }
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px $color-purple-transparent inset !important;
      }
    }
  }
}
