@import '../../sass/variables';

.logo_moodframe {
  font-size: clamp(2rem, calc(8vw - 6rem), 6rem);
  display: flex;
  align-items: center;
  font-family: $font-logo;
  i {
    color: $color-mint;
  }
}
